frontend/assets/n8n/admin-contatos-post.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-contatos-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-896, -2416],
      "id": "632df317-b1d7-4c43-9217-36d8dc9e01ee",
      "name": "Webhook POST",
      "webhookId": "admin-contatos-post"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nreturn [{ json: body }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-672, -2416],
      "id": "9dd88682-5159-4f30-9124-c4722efe1c61",
      "name": "Extrair Body POST"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sMQ4YRKor6wOOu9U1PLJtn9JzPZaATU97nBdrDoIDx0",
          "mode": "list",
          "cachedResultName": "Avecta AI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sMQ4YRKor6wOOu9U1PLJtn9JzPZaATU97nBdrDoIDx0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1446606801,
          "mode": "list",
          "cachedResultName": "Contatos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sMQ4YRKor6wOOu9U1PLJtn9JzPZaATU97nBdrDoIDx0/edit#gid=1446606801"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-464, -2416],
      "id": "0a790e63-351e-41ee-8d19-b3b90510f34f",
      "name": "Adicionar Contato",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ynJQZ7qrni7mu79b",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Contato adicionado com sucesso\", data: $json }) }}",
        "options": {
          "responseCode": 201,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-240, -2416],
      "id": "733b5c60-6504-4510-8816-0bc8c36e4198",
      "name": "Responder POST"
    }
  ],
  "connections": {
    "Webhook POST": {
      "main": [[{ "node": "Extrair Body POST", "type": "main", "index": 0 }]]
    },
    "Extrair Body POST": {
      "main": [[{ "node": "Adicionar Contato", "type": "main", "index": 0 }]]
    },
    "Adicionar Contato": {
      "main": [[{ "node": "Responder POST", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38d72daace6c2ae7736a909dec088d48bbd578f9ce790ccc259d7516ee40e64b"
  }
}
